body {
    font-family: 'Roboto', sans-serif;
}

#jsoninput {
}

.input {
    width: 30em;
    height: 2em;
    display: inline-block;
    border: 1px solid #3079ED;
    margin-left: 1em;
}

input#key {
}

input#layerid {
}

textarea#jsonstyle {
    width: 50em;
    height: 25em;
    display: block;
    border: 1px solid #3079ED;
}

.submit {
    border: 1px solid #3079ED;
    background: #4B8DF8;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 0 #888;
    font-weight: bold;
    font-size: 16px;
    height: 40px;
    display: inline-block;
    margin: 5px;
    padding: 10px 10px 14px 9px;
}
